* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: lightgray;
}

.container {
    height: 90vh;
    width: 55vw;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: flex;

}

.flexContainerColumn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.flexContainerRow {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.flex1 {
    flex: 1;
}
